### Lab 5 Tasks

Download the data file *election2016.csv* from Moodle and complete the steps in the cells provided below.

Step 1. Load the dataset from the CSV file using Pandas. Use the "Username" column as the row index.

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('election2016.csv', index_col = 'Username')
df

,Firstname,Lastname,Party,Tweets,Followers,Constituency
Username,,,,,,
alexwhitetd,Alex,White,Labour,NaN,6324.0,Dublin Rathdown
campaignforleo,Leo,Varadkar,Fine Gael,1844.0,NaN,Dublin West
claredalytd,Clare,Daly,Independent/Other,1984.0,13410.0,Dublin Fingal
cllrquinlivan,Maurice,Quinlivan,Sinn Fein,NaN,2936.0,Limerick City
clr_aaa,Ciaran,Leonardi Roche,People Before Profit,64.0,207.0,Cork East
daracalleary,Dara,Calleary,Fianna Fail,5074.0,NaN,Mayo
davidstantontd,David,Stanton,Fine Gael,692.0,NaN,Cork East
donnellystephen,Stephen,Donnelly,Social Democrats,4117.0,22072.0,Wicklow
drjamesreilly,James,Reilly,Fine Gael,587.0,8871.0,Dublin Fingal
eamonryan,Eamon,Ryan,Green Party,NaN,16110.0,Dublin Bay South
endakennytd,Enda,Kenny,Fine Gael,406.0,43657.0,Mayo
janosullivantd,Jan,O'Sullivan,Labour,1829.0,NaN,Limerick City
jerrybuttimer,Jerry,Buttimer,Fine Gael,NaN,11806.0,Cork South Central
joanburton,Joan,Burton,Labour,922.0,15402.0,Dublin West
kodonnelltd,Kieran,O'Donnell,Fine Gael,140.0,1889.0,Limerick City
lcreighton,Lucinda,Creighton,Renua,4238.0,21330.0,Dublin Bay South
maryloumcdonald,Mary Lou,McDonald,Sinn Fein,5214.0,25855.0,Dublin Central
michealmartintd,Micheal,Martin,Fianna Fail,942.0,16626.0,Cork South Central
mulherinfg,Michelle,Mulherin,Fine Gael,NaN,1751.0,Mayo
paschald,Paschal,Donohoe,Fine Gael,7493.0,NaN,Dublin Central
seansherlocktd,Sean,Sherlock,Labour,NaN,9906.0,Cork East
shane_rosstd,Shane,Ross,Independent/Other,2962.0,36021.0,Dublin Rathdown
simoncoveney,Simon,Coveney,Fine Gael,NaN,NaN,Cork South Central
simonharristd,Simon,Harris,Fine Gael,7378.0,9913.0,Wicklow
tombarrytd,Tom,Barry,Fine Gael,109.0,1783.0,Cork East

Step 2. Calculate summary statistics for the dataset.

In [10]:
df.describe()

            Tweets     Followers
count    18.000000     19.000000
mean   2555.277778  13993.105263
std    2462.759184  11831.417661
min      64.000000    207.000000
25%     613.250000   4630.000000
50%    1836.500000  11806.000000
75%    4207.750000  18978.000000
max    7493.000000  43657.000000

Step 3. Find the number of missing values in each column.

In [12]:
df.isnull().sum()

Firstname       0
Lastname        0
Party           0
Tweets          7
Followers       6
Constituency    0
dtype: int64

Step 4. Replace all missing values in the "Tweets" column with the mean value for that column.

In [15]:
mean_tweets = df['Tweets'].mean()
df['Tweets'] = df['Tweets'].fillna(mean_tweets)
df

,Firstname,Lastname,Party,Tweets,Followers,Constituency
Username,,,,,,
alexwhitetd,Alex,White,Labour,2555.277778,6324.0,Dublin Rathdown
campaignforleo,Leo,Varadkar,Fine Gael,1844.000000,NaN,Dublin West
claredalytd,Clare,Daly,Independent/Other,1984.000000,13410.0,Dublin Fingal
cllrquinlivan,Maurice,Quinlivan,Sinn Fein,2555.277778,2936.0,Limerick City
clr_aaa,Ciaran,Leonardi Roche,People Before Profit,64.000000,207.0,Cork East
daracalleary,Dara,Calleary,Fianna Fail,5074.000000,NaN,Mayo
davidstantontd,David,Stanton,Fine Gael,692.000000,NaN,Cork East
donnellystephen,Stephen,Donnelly,Social Democrats,4117.000000,22072.0,Wicklow
drjamesreilly,James,Reilly,Fine Gael,587.000000,8871.0,Dublin Fingal
eamonryan,Eamon,Ryan,Green Party,2555.277778,16110.0,Dublin Bay South
endakennytd,Enda,Kenny,Fine Gael,406.000000,43657.0,Mayo
janosullivantd,Jan,O'Sullivan,Labour,1829.000000,NaN,Limerick City
jerrybuttimer,Jerry,Buttimer,Fine Gael,2555.277778,11806.0,Cork South Central
joanburton,Joan,Burton,Labour,922.000000,15402.0,Dublin West
kodonnelltd,Kieran,O'Donnell,Fine Gael,140.000000,1889.0,Limerick City
lcreighton,Lucinda,Creighton,Renua,4238.000000,21330.0,Dublin Bay South
maryloumcdonald,Mary Lou,McDonald,Sinn Fein,5214.000000,25855.0,Dublin Central
michealmartintd,Micheal,Martin,Fianna Fail,942.000000,16626.0,Cork South Central
mulherinfg,Michelle,Mulherin,Fine Gael,2555.277778,1751.0,Mayo
paschald,Paschal,Donohoe,Fine Gael,7493.000000,NaN,Dublin Central
seansherlocktd,Sean,Sherlock,Labour,2555.277778,9906.0,Cork East
shane_rosstd,Shane,Ross,Independent/Other,2962.000000,36021.0,Dublin Rathdown
simoncoveney,Simon,Coveney,Fine Gael,2555.277778,NaN,Cork South Central
simonharristd,Simon,Harris,Fine Gael,7378.000000,9913.0,Wicklow
tombarrytd,Tom,Barry,Fine Gael,109.000000,1783.0,Cork East

Step 5. Replace all missing values in the "Followers" column with the mean value for that column.

In [16]:
mean_followers = df['Followers'].mean()
df['Followers'] = df['Followers'].fillna(mean_followers)
df

,Firstname,Lastname,Party,Tweets,Followers,Constituency
Username,,,,,,
alexwhitetd,Alex,White,Labour,2555.277778,6324.000000,Dublin Rathdown
campaignforleo,Leo,Varadkar,Fine Gael,1844.000000,13993.105263,Dublin West
claredalytd,Clare,Daly,Independent/Other,1984.000000,13410.000000,Dublin Fingal
cllrquinlivan,Maurice,Quinlivan,Sinn Fein,2555.277778,2936.000000,Limerick City
clr_aaa,Ciaran,Leonardi Roche,People Before Profit,64.000000,207.000000,Cork East
daracalleary,Dara,Calleary,Fianna Fail,5074.000000,13993.105263,Mayo
davidstantontd,David,Stanton,Fine Gael,692.000000,13993.105263,Cork East
donnellystephen,Stephen,Donnelly,Social Democrats,4117.000000,22072.000000,Wicklow
drjamesreilly,James,Reilly,Fine Gael,587.000000,8871.000000,Dublin Fingal
eamonryan,Eamon,Ryan,Green Party,2555.277778,16110.000000,Dublin Bay South
endakennytd,Enda,Kenny,Fine Gael,406.000000,43657.000000,Mayo
janosullivantd,Jan,O'Sullivan,Labour,1829.000000,13993.105263,Limerick City
jerrybuttimer,Jerry,Buttimer,Fine Gael,2555.277778,11806.000000,Cork South Central
joanburton,Joan,Burton,Labour,922.000000,15402.000000,Dublin West
kodonnelltd,Kieran,O'Donnell,Fine Gael,140.000000,1889.000000,Limerick City
lcreighton,Lucinda,Creighton,Renua,4238.000000,21330.000000,Dublin Bay South
maryloumcdonald,Mary Lou,McDonald,Sinn Fein,5214.000000,25855.000000,Dublin Central
michealmartintd,Micheal,Martin,Fianna Fail,942.000000,16626.000000,Cork South Central
mulherinfg,Michelle,Mulherin,Fine Gael,2555.277778,1751.000000,Mayo
paschald,Paschal,Donohoe,Fine Gael,7493.000000,13993.105263,Dublin Central
seansherlocktd,Sean,Sherlock,Labour,2555.277778,9906.000000,Cork East
shane_rosstd,Shane,Ross,Independent/Other,2962.000000,36021.000000,Dublin Rathdown
simoncoveney,Simon,Coveney,Fine Gael,2555.277778,13993.105263,Cork South Central
simonharristd,Simon,Harris,Fine Gael,7378.000000,9913.000000,Wicklow
tombarrytd,Tom,Barry,Fine Gael,109.000000,1783.000000,Cork East

Step 6. Group the rows in the dataset based on the "Party" column, and display the sums of the groups.

In [17]:
party_groups = df.groupby('Party')
party_groups.sum()

                            Tweets      Followers
Party
Fianna Fail            6016.000000   30619.105263
Fine Gael             26314.833333  135642.421053
Green Party            2555.277778   16110.000000
Independent/Other      4946.000000   49431.000000
Labour                 7861.555556   45625.105263
People Before Profit     64.000000     207.000000
Renua                  4238.000000   21330.000000
Sinn Fein              7769.277778   28791.000000
Social Democrats       4117.000000   22072.000000

Step 7. Group the rows in the dataset based on the "Constituency" column, and display the sums of the groups.

In [18]:
constituency_groups = df.groupby('Constituency')
constituency_groups.sum()

                          Tweets     Followers
Constituency
Cork East            3420.277778  25889.105263
Cork South Central   6052.555556  42425.105263
Dublin Bay South     6793.277778  37440.000000
Dublin Central      12707.000000  39848.105263
Dublin Fingal        2571.000000  22281.000000
Dublin Rathdown      5517.277778  42345.000000
Dublin West          2766.000000  29395.105263
Limerick City        4524.277778  18818.105263
Mayo                 8035.277778  59401.105263
Wicklow             11495.000000  31985.000000